.header_custom table thead > tr > th {
background-color: #00416A !important;
color: white !important;
}
.headers_custom table thead > tr > th {
background-color: #00416A !important;
color: white !important;
}
.header_custom table thead > tr > th:nth-child(1) {
width: 60px !important;
}
.header_custom table thead > tr > th:nth-child(2) {
width: 100px !important;
}
.headers_custom table thead > tr > th:nth-child(1) {
width: 60px !important;
}
.headers_custom table thead > tr > th:nth-child(2) {
width: 100px !important;
}
.headers_custom table thead > tr > th:nth-child(3) {
width: 300px !important;
}

